{{template "base" .}}

{{define "content"}}
    <div class="container mt-4" style="height: 300px;">
        <h1>Find your Index Number/s</h1>
    
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-8 col-lg-6">
                    <form action="/searchindex" method="post" class="needs-validation" novalidate>
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                        <div class="mb-3">
                            <label for="name" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="name" name="name" aria-describedby="Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="dob" class="form-label">Date of Birth</label>
                            <input class="form-control" id="dob" name="dob" aria-describedby="Date of Birth" placeholder="dd/mm/yyyy" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
    
        </div>
{{end}}

{{define "js"}}

<script>
    const elem = document.querySelector('input[name="dob"]');
    const date_dob = new Datepicker(elem, {
        format: 'dd/mm/yyyy'
    });
</script>

{{end}}